footer {
  div {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--dark);
    color: var(--light);
    border-top: 1px solid var(--dark-alt);
  }
}
