footer {
  div {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--dark);
    color: var(--light);
  }
}
