.navbar {
  background-color: var(--dark-alt);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .progerss-bar {
    position: fixed;
    width: 0;
    height: 3px;
    background-color: var(--light);
    top: 77px;
    right: 0;
  }
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      border-radius: 50%;
    }
    > div {
      display: flex;
      color: var(--light);
      align-items: center;
      gap: 10px;
      > div {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        p {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          padding: 8px 10px;
          border-radius: 8px;
          transition: 0.3s;
          &:hover {
            background-color: var(--dark);
          }
        }
      }
      > p {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: var(--light);
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background-color: var(--dark);
        }
      }
    }
  }
  .search-bar {
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    top: -300px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: -1;
    &.active {
      transition: 0.3s;
      top: 80px;
      opacity: 1;
      visibility: visible;
    }
    .container {
      background-color: var(--dark-alt);
      border-radius: 8px;
      padding: 0 25px;
      width: 100%;
      input {
        width: calc(100% - 72px);
        background-color: var(--dark-alt);
        height: 60px;
        padding: 0 30px;
        font-size: 25px;
        color: #777;
        font-weight: bold;
        border: none;
        outline: none;
        caret-color: #777;
        transition: 0.3s;
        border-width: 1px 1px 1px 0;
        border-style: solid;
        border-color: #777;
        border-radius: 30px 0 0 30px;
        border-radius: 0 30px 30px 0;
        &:focus {
          border-color: #777;
        }
      }
      div {
        height: 60px;
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-width: 1px;
        border-style: solid;
        border-color: #777;
        border-radius: 30px 0 0 30px;
        cursor: pointer;
        transition: 0.3s;
        color: var(--light);
        &:hover {
          background-color: var(--dark);
          border-color: var(--dark);
        }
      }
    }
  }
}
