@use "../layout/mixins" as *;

.surah-details {
  padding: 50px 15px;
  background-color: var(--dark);
  color: var(--light);
  .container {
    text-align: center;
    p.surah-name {
      font-size: 2.5rem;
      color: var(--light);
      margin-bottom: 40px;
    }
    .info {
      max-width: 440px;
      margin: 0 auto 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      > span {
        display: flex;
        padding: 8px 15px;
        border-radius: 20px;
        align-items: center;
        cursor: pointer;
        gap: 10px;
        font-size: 14px;
        &:hover {
          background-color: var(--dark-alt);
        }
      }
      .details {
        width: 100%;
        text-align: right;
        height: 0;
        opacity: 0;
        border: 2px solid var(--dark-alt);
        border-radius: 10px;
        &.active {
          transition: 0.3s;
          margin-top: 30px;
          height: fit-content;
          padding: 30px;
          opacity: 1;
        }
        p {
          margin-bottom: 20px;
          font-size: 20px;
          color: #777;
          font-weight: bold;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .content {
      padding: 30px;
      margin: auto;
      max-width: 440px;
      border: 2px solid var(--dark-alt);
      border-radius: 20px;
      text-align: center;
      line-height: 1.8;
      font-size: 1.5rem;
      @media (max-width: 767px) {
        font-size: 1rem;
      }
      svg {
        margin-bottom: 20px;
      }
      .ayah {
        margin-bottom: 20px;
        &:first-child {
          display: block;
        }
        p {
          display: inline;
          line-height: 2.5;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: var(--dark-alt);
          }
        }
        span {
          margin-left: 5px;
          font-size: 18px;
          color: var(--light-alt);
          white-space: nowrap;
        }
      }
    }
  }
}
