@use "../layout/mixins" as *;

.surah-details {
  padding: 50px 15px;
  background-color: var(--dark);
  color: var(--light);
  .container {
    text-align: center;
    h2 {
      font-size: 30px;
      color: var(--light);
      margin-bottom: 30px;
    }
    .info {
      max-width: 440px;
      margin: 0 auto 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      > span {
        display: flex;
        padding: 8px 15px;
        border-radius: 20px;
        align-items: center;
        cursor: pointer;
        gap: 10px;
        font-size: 14px;
        &:hover {
          background-color: var(--dark-alt);
        }
      }
      .details {
        width: 100%;
        text-align: right;
        height: 0;
        opacity: 0;
        border: 2px solid var(--dark-alt);
        border-radius: 10px;
        &.active {
          transition: 0.3s;
          margin-top: 30px;
          height: fit-content;
          padding: 30px;
          opacity: 1;
        }
        p {
          margin-bottom: 20px;
          font-size: 20px;
          color: #777;
          font-weight: bold;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .content {
      padding: 30px;
      margin: auto;
      max-width: 440px;
      border: 2px solid var(--dark-alt);
      border-radius: 20px;
      text-align: center;
      line-height: 1.8;
      font-size: 22px;
      @media (max-width: 767px) {
        font-size: 20px;
      }
      svg {
        margin-bottom: 20px;
      }
      .ayah {
        display: inline;
        margin-bottom: 20px;
        position: relative;
        &:first-child {
          display: block;
        }
        .tafsir {
          position: absolute;
          background-color: var(--dark-alt);
          height: 54px;
          width: 60px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -60px;
          left: 50%;
          transform: translate(-50%);
          visibility: hidden;
          &.active {
            visibility: visible;
          }
        }
        p {
          display: inline;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: var(--dark-alt);
          }
        }
        span {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          margin-left: 5px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: var(--light-alt);
          border: 2px dotted var(--light-alt);
        }
      }
    }
  }
}
